#appleButton:hover {
    background-color: white; /* Green */
    color: black;
  }
#PlayStore:hover {
    background-color: black; /* Green */
    color: white;
  }
  #PlayStore{
    margin-left: 2%;
  }
  @media screen and (min-width: 480px) {
    #imgDiv {position:static;
             overflow: visible;}
    #rotImg {position:static;}
  }