#appleButton{
  margin-top: 10%; margin-bottom: 30%; margin-right: 4%;
}
#PlayStore{
  color: white; margin-top: 10%; margin-bottom: 30%;
}
#appleButton:hover {
    background-color: white; /* Green */
    color: black;
  }
#PlayStore:hover {
    background-color: black; /* Green */
    color: white;
  }
  #PlayStore{
    margin-left: 2%;
  }
  .navbaritems{
    padding-right:10% ;
  }
  .ham-toggle{
    margin-right:5px !important;
  }
  .titleMargin{
    margin-left: 8%;
  }
  .coloredBG{
      background-color: #674bff;
  }
  .coloredItems{
    color: 	#674bff	;

  }
  #features{
    margin: 5% 5% 5% 5%;
  }
  .FooterIcons{
    padding-right: 3%;
  }
  .topCont{
    margin-top:4%;
  }
 .PoppinsFont
 { font-family:'Poppins', sans-serif; }
  .navMargins1{
    margin-bottom: 4%; margin-top: 4%;
  }
  .divMargin1{
    margin-left: 9%;
  }
  .bolderText{
    font-weight: bolder;
  }
  .whiteColor{
      color: white;
  }
  .RelativeSection{
    position: relative;
  }
  .PadRight10{
    padding-right:10%
  }
  .MarginLeft10{
    margin-left: 10%;
  }



  @media screen and (max-width: 600px) {
 
#imgDiv {
        position:relative; 
        overflow:hidden;
    }
    #rotImg{
        width:fit-content;
        height: 500px;
        display: block;
    }
    
  }
  .card{
    width: 18rem;
    margin-bottom: 3%;
    
  }
  

  @media screen and (min-width: 750px) {
   
    #imgDiv {
        position:relative; 
        overflow:hidden;
    }
    #rotImg{
        transform: rotate(25deg); 
        position: absolute;
        width:30%;
        display: block;
    }
  }
  #packageh3{
    background-color: whitesmoke;
    padding: 2% 5% 5% 5%;

  }
  /* On screens that are 600px wide or less, the background color is olive */
